body{
	/*background-color: lightgray; */
	margin: 0;
	padding: 0;
	
	background-image: url("../img/testbcg2.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	
	background-position: center;
	font-family: sans-serif;
	/*font-size: 30px;*/
	background-size: cover;
	height: 100%;
}
.contactform h1{
	margin-top: 50px
	transition: all 4s ease-in-out;
	font-size: 30px;
	text-align: center;
	padding: 40px;
}


.contact{
	
	font-size: 22px;
	text-align: center;
}
#button{
	font-size: 26px;
	background-color: #fff2;
	border-radius: 12px;

}